  <div class="container">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
            
            
            <!--/stories-->
            <div class='testing'>
              <div class="row">    
              <br>
              <div class="col-md-2 col-sm-3 text-center">
                <a class="story-title" href="#"><img alt="" src="../../assets/images/indeximg.jpg" style="width:100px;height:100px" class="img-circle"></a>
              
              <div class="col-md-10 col-sm-9">
                <h3>"A library is a collection of resources in a variety of formats that is <br>
                  (1) organized by information professionals or other experts who <br>
                  (2) provide convenient physical, digital, bibliographic, or intellectual access and <br>
                  (3) offer targeted services and programs <br>
                  (4) with the mission of educating, informing, or entertaining a variety of audiences <br>
                   (5) and the goal of stimulating individual learning and advancing society as a whole."</h3>
                <div class="row">
                  <div class="col-xs-9">
                    <h4><span class="label label-default"> The Librarian’s Book of Lists (Chicago: ALA, 2010)</span></h4><h4>
                    <small style="font-family:courier,'new courier';" class="text-muted">George Eberhart</small>
                    </h4></div>
                  <div class="col-xs-3"></div>
                </div>
                <br><br>
              </div></div>
            </div>
            
            </div>           
            
            <!--/stories-->        
            
            
          </div>
        </div>
                                                                                        
                                                    
                                                        
      </div><!--/col-12-->
    </div>
  </div>
  
