<header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <ul class='navbar-topmenu'>
          <li><a routerLink="/" class="navbar-brand">Home</a></li>
          <li><a routerLink="/books" class="navbar-brand">Books</a></li>
          <li><a routerLink="/authors" class="navbar-brand">Authors</a></li>
          <li><a routerLink="/login" class="navbar-brand">Login</a></li>
        </ul>
      </div>
      <nav class="collapse navbar-collapse nav navbar-right navbar-nav" role="navigation">        
        <!-- <div class=""> -->
          <h1 class="dropdown">Library Application</h1>
        <!-- </div> -->
      </nav>
    </div>
  </header>
<div class='banner'>
</div>